.container{
    width: 90%;
    max-width: 1800px;
    margin: auto;
    overflow: hidden;
    padding-left: 0px;
    padding-right: 0px;
    font-family: 'Open Sans', sans-serif;
  }

  table {
    width: 100%;
  }
  .hed{
    background-color: #285171;
    color:#fff;
    margin-top: 10px;
  }
  .he{
    color:#285171;
  }
  #ip{
    width: 100%;
  }
  .th{
    padding-left: 5px;
    padding-right: 5px;
    text-align: left;
  }
  .td{
    padding-left: 5px;
    padding-right: 5px;
    text-align: left;
  }
