
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0">
</head>

<section class="footer">
    <div class="contenedor">
      <div class="pie">
        <h4>Dirección</h4>
        <p>Guayaquil</p>
      </div>
      <div class="pie">
        <h4>Teléfono</h4>
        <p>+593 923657418</p>
      </div>
      <div class="pie">
        <h4>E-mail</h4>
        <p>rentadecarros@gmail.com  </p>
      </div>
      <div class="pie" id="p">
        <h4>Horario</h4>
        
        <p>  Lunes a Domingo</p>
        <p>24 Horas</p>
      </div>
    </div>
    <div class="derechos">
      <p>&copy; Todos los derechos reservados - RentCarEvolution</p>
    </div>
  </section>