
<div>
    <br>
</div>

<div id ="contenedorPrincipal">
  <div id="galeria">
    <div class="elemento">
          
        <img src="assets/img/img1.jpg" alt=""/>
        <p>Precio $ 25.00</p>
        <button type="button" class="btn btn-danger">Alquilar</button>
    </div>
    <div class="elemento">
        <img src="assets/img/img2.jpg" alt="mara"/>
        <p>Precio $ 25.00</p>
        <button type="button" class="btn btn-danger">Alquilar</button>
    </div>
    <div class="elemento">
        <img src="assets/img/img3.jpg" alt="p"/>
        <p>Precio $ 25.00</p>
        <button type="button" class="btn btn-danger">Alquilar</button>
    </div>
    <div class="elemento">
        <img src="assets/img/img4.jpg" alt=""/>
        <p>Precio $ 25.00</p>
        <button type="button" class="btn btn-danger">Alquilar</button>
    </div>
    <div class="elemento">
        <img src="assets/img/img5.jpg" alt=""/>
        <p>Precio $ 25.00</p>
        <button type="button" class="btn btn-danger">Alquilar</button>
    </div>
    <div class="elemento">
        <img src="assets/img/img6.jpg" alt="a"/>
        <p>Precio $ 25.00</p>
        <button type="button" class="btn btn-danger">Alquilar</button>
    </div>
</div>
 </div>

 <div>
     <br>
 </div>