.container {
  width: 100%;
  max-width: 1800px;
  margin: auto;
  overflow: hidden;
  padding-left: 0px;
  padding-right: 0px;
  font-family: 'Open Sans', sans-serif;
}
.h1{
    color: #285171;
    text-align: center;
  }
  .campos-field{
    width: 60%;
    margin-left: 20%;
    margin-right: 20%;
}
.op{
  text-align: center;
  }
  .hed{
    background-color: #285171;
    color: #fff;
    width: 90px;
  }
 
  @media(max-width:350px){
    .h1{
      width: 50%;
    }
    .campos-field{
      width: 60%;
    }
    button{
      width: 60%;
      margin-top: 4px;
    }
   mat-card{
     width: 60%;
   }
   input{
     width: 10%;
   }
   form{
     width: 450%;
     box-sizing: border-box;
     margin: auto;
   }

   }