<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0">
  </head>

<div class="container">

<h1 class="h1" mat-dialog-title>Recuperar contraseña</h1>
<mat-card> 
    <div mat-dialog-content>
    <form [formGroup]="Recuperar" >
        <mat-form-field class="campos-field">
            <input matInput placeholder="Ingrese su correo" formControlName="correo">
        </mat-form-field>
    </form> 
    </div>
        <div mat-dialog-action  class="op">
            <button style="margin-left: 8px;" mat-raised-button class="hed"(click)="enviar()" >Enviar</button>
            <button style="margin-left: 8px;" mat-raised-button color="warn" mat-dialog-close>Cancelar</button> 
        </div>
    
</mat-card> 
<div>
    <br>
</div>
</div>