<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0">
</head>

<section class="banner">
  <div class="banner_contenido">
    <h1>NUESTRA INFORMACION</h1>
    <div class="banner_logos">
      <a class="logoAutos" href="#">
        <img src="assets/img/LogoChevrolet.png" alt="logo-chevrolet">
        <img src="assets/img/logo-ford.png" alt="logo-chevrolet">
        <img src="assets/img/logo-wolkswagen.png" alt="logo-wolkswagen">
      </a>
    </div>
  </div>
</section>
