
<div id ="contenedorPrincipal">
    <div id="galeria">
      <div class="elemento">
        <img src="assets/img/ad1.jpg" alt="mara"/>
      </div>
      <div class="elemento">
        <img src="assets/img/ad2.jpg" alt="mara"/>
      </div>

    </div>

    
</div>
<div class="texto">
    <br>
    <h2>Historira de como surgieron las rentadoras de autos.</h2>
<p>Desde el primer instante que hubo vida en el mundo, el hombre siempre se ha movido, andado y desplazado. Quiere ir cada vez más lejos y para satisfacer su propósito indiscutiblemente tiene que inventar.
Así comenzó la evolución del automóvil.</p>
<p>
No fue a inicios de los primeros siglos después de Cristo sino que recién comenzaron sus pasos en los albores del siglo XVII por intermedio de un padre jesuita llamado Ferdinand Verbiest, quien residía en China y que describió un vehículo impulsado a vapor de pequeño tamaño.
En el siglo XVIII ya un carro era impulsado por vapor, pero no era suficiente para una eficiente movilidad. 
A inicios el siglo XIX se pudo distinguir entre los vehículos a motor y los tradicionales de otros siglos. 
En 1860, el Ing. belga Etienne Lenoir, patentó el primer vehículo de motor de combustión interna con gasolina.</p>
<p>
De esa manera y antes de ingresar al siglo XX los automóviles se fortalecieron, además de que eran jugosos negocios, el cuál tuvieron que recorrer 3 fases de los grandes medios de propulsión: Vapor, electricidad y gasolina.
Recién en la primera década del siglo XX, la gente ya lo empezó a mirar que el carro era algo útil y necesario, aunque los primeros prototipos se crearon a fines del siglo XIX.
</p>
<h2>Hecho en Ecuador</h2>
<p> primer automóvil con motor de combustión interna se atribuye al alemán Karl Fridrich Benz en la ciudad de Mannheim en 1886 con el modelo Benz Patent Motorwager. Poco después otros pioneros alemanes, constructores e industriales Gottlieb Daimler y Wihelm Maybach presentaron sus modelos tipo Jeep.
En Ecuador, el primer auto diseñado y ensamblado nació en 1972 en plena dictadura del General Guillermo Rodríguez Lara. Fue popularmente conocido como Andino. Lo hizo la empresa quiteña Aymesa y lo diseñó un ayudante de ingeniería llamado Carlos Almeida.
El Andino ecuatoriano era una camioneta simple con plataforma Bedford y motor Vauxhall de 14 litros. Se lo utilizó mucho en sectores rurales, pero también los de las zonas urbanas. Era el momento del boom petrolero en Ecuador.
El Andino tuvo poco tiempo en el mercado automotriz ecuatoriano y desapareció de un momento a otro.
</p>
<h2>Primera alquiladora de carro</h2>
<p> remonta en los inicios de la era automotriz, por cuanto ver un carro en las calles era por esos tiempos más parecido a un suceso de ciencia ficción. 
La cuna fue Alemania, allá por 1896, que sale a la luz pública la primera compañía de alquiler de autos llamada Wucherpfennig. Estuvo ubicada en Hamburgo donde fue la cuna del automóvil.
Esa alquiladora de autos atendía a clientes de muy buenos recursos financieros. 
En ese entonces era casi imposible de ver algún auto en alguna calle o avenida alemana. 
Pocos tenían el dinero para adquirir un carro. Costaba un ojo de la cara.
</p>
<p>El negocio de alquiler le fue tan bien a esta empresa alemana que se extendió al continente americano y específicamente a Estados Unidos.
Un empresario estadounidense, llamado Joe Saunders, con mucha plata, gran visión y emprendedor decidió crear la primera compañía de alquiler de autos, pero su ambición fue mucho más de comprar una importante flota de carros sino tuvo la audacia de colocar un tacómetro. Era un instrumento que servía para medir kilometraje y velocidad.
El negocio del americano fue mucho más lejos que el alemán. 
No tan sólo cobraba por alquilar el vehículo sino también lo hacía por millas recorridas, cuyo costo era de 10 céntimos.
Creció de tal manera su industria del alquiler de carro que logró abarcar más de 50 estados de Estados Unidos.
A partir de Saunders, el mundo automotriz presentó grandes oportunidades de negocios.
A partir de aquello se comenzaron a fundar varias empresas que luego fueron poderosas como Hertz, Thrifty, Europlar, Rent A Car, entre otras.
</p>
<p>
Como si esto fuera poco establecieron sus negocios en inmediaciones de aeropuertos, estaciones de autobuses y trenes.
Este emprendimiento empezado por un alemán y tomando la posta un americano tuvo su pausa durante la segunda guerra mundial.
Luego de aquello y recién en 1955 se reactiva el suculento negocio y la empresa Avis adquiere la empresa de Joe Saunders.
Algunas superaron la crisis de la post guerra y las empresas más fuertes continuaron sus negocios en los mostradores de estaciones y aeropuertos.
A partir de 1959 se fusionaron varias empresas de carros de alquiler como el Selbstahrer Unión que se unió con Europcar. 
La agencia de alquiler de coches ofrecían a sus clientes automóviles para cortos, medianos y largos periodos de tiempo, además les ofrecían autos de varias marcas y modelos. 
</p>
<p>Desde 1988 comenzó la fiebre de la gente para viajar y sobre todas las cosas utilizando los servicios de alquiler de automóviles.
La expansión de la industria automovilística fue tal que comenzó la competencia entre compañías ofreciendo coches más pequeños y alquileres más asequibles al bolsillo de la gente. 
La ironía de este tipo de negocios y que sirve de enseñanza. Mientras los alemanes inventaban los mejores y más costosos coches del mercado, los americanos, como buenos comerciantes, se encargarían de llevarlos a las masas unas décadas más tarde.
Así es el mundo de los negocios.
</p>
<h2>Primera empresa en internet</h2>
<p>Tanto crecieron las empresas de alquileres de autos en todo el mundo, inclusive en Ecuador, que en 1995 la empresa multinacional europea de alquiler de coches Sixt dan el primer paso creando la primera WEB de alquileres de coches. 
Llegado el siglo XXI, la revolución para el usuario comenzó. 
Hubo una competencia cada vez más feroz entre las compañías clásicas y grandes, mientras las nuevas agencias ofertaban alquileres más económicos.
Actualmente la industria de alquileres de carros sigue viento en popa y más aún en un mundo globalizado donde las redes sociales se han convertido como estrategia efectiva para el marketing.
</p>
</div>
