<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0">
</head>
<div class="container">

<section class="banner">
  <div class="banner_contenido">
    <div class="banner_logos">
      <a class="logoAutos" href="#">
        <img src="assets/img/LogoChevrolet.png" alt="logo-chevrolet">
        <img src="assets/img/logo-ford.png" alt="logo-chevrolet">
        <img src="assets/img/logo-wolkswagen.png" alt="logo-wolkswagen">
      </a>
    </div>
  </div>
</section>
<!--section class="acerca"-->
  
  <!--h1>MISION</h1-->
  <section class="sesion">
  <div class="aptitud">
    <img src="assets/img/mision.jpg" alt="logo-mision">
    <div class="parraf">
  <p>Somos un concesionario oficial,especializado en la comercialización de coches nuevos, 
    usados.Contamos con personal altamente calificado, tecnología punta e infraestructura 
    que garantiza un servicio integral de óptima calidad; cumplimos con los estándares de la marca, 
    normas ambientales y del entorno social; trabajamos por el bienestar y crecimiento de nuestro talento humano,
     para lograr así la total satisfacción de nuestros clientes.</p>
    </div>
</div>
</section>

  <!--h1>VISION</h1-->
<section class="sesion">
  <div class="aptitud">
    <img src="assets/img/vision.jpg" alt="logo-vision">
    <div class="parraf">
      <p>Ser el primer concesionario en el país, líder en calidad, tecnología, infraestructura, 
        capital humano, rentabilidad y solidez financiera; encaminados a lograr la fidelización de nuestros clientes,
        convirtiéndonos en la mejor opción del mercado, excediendo las expectativas de nuestros clientes, empleados y
        proveedores.</p>
    </div>
</div>
</section>

  
  
  
  <!--h1>VALORES</h1-->
  <section class="sesion">
    <div class="aptitud">
      <img src="assets/img/valores.jpg" alt="logo-valores">
      <div class="parraf">
          <ul>
            <li>Respeto por las personas</li>
            <li>Equipo</li>
            <li>Calidad</li>
            <li>Transparencia</li>
            <li>Rentabilidad</li>
            <li>Lealtad</li>
          </ul>

      </div>
  </div>
  </section>
  
  </div>
<!--/section-->
