<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0">
</head>
<div class="container">
<section class="banner">
    <div class="banner_contenido">
      <h1>NUESTROS VEHÍCULOS</h1>
      <div class="banner_logos">
        <a class="logoAutos" href="#">
          <img src="assets/img/LogoChevrolet.png" alt="logo-chevrolet">
          <img src="assets/img/logo-ford.png" alt="logo-chevrolet">
          <img src="assets/img/logo-wolkswagen.png" alt="logo-wolkswagen">
        </a>
      </div>
      <!--a class="banner_btn" href="">Catálogo</a-->
    </div>
  </section>

<div class="Principal">
    <h2>Nuestro <span class="spanH2">Catálogo</span></h2>
    <div class="contenedor_catalogo">


      <div class="tarjetas">
        <img src="assets/img/chevrolet1.jpg" alt="vehiculo1">
        <h4>Chevrolet Spark GT</h4>
        <div class="tarjetas_descripcion">
          <P>Descripción de vehículo</P>
          <ul>
            <li>
              <div class="tarjetas_descripcion-iconos"><img src="assets/img/asiento.png"alt="icono-asiento"></div>
              <div class="tar_desc-asientos">
                5 Plazas
              </div>
            </li>
            <li>
              <div class="tarjetas_descripcion-iconos"><img src="assets/img/caja-de-cambios.png"alt="icono-asiento"></div>
              <div class="tar_desc-asientos">
                Manual
              </div>
            </li>
            <li class="li-kilometraje">
              <div class="tarjetas_descripcion-iconos"><img src="assets/img/rapido.png"alt="icono-asiento"></div>
              <div class="tar_desc-asientos">
                Kilometraje ilimitado
              </div>
            </li>
            <li></li>
          </ul>
        </div>
        <div class="tarjetas_precio">
          <div class="tarjetas_precio-div1">
            <h6>Precio por x dias:</h6>
            <p>$124.30</p>
          </div>
          <button type="button" class="btn btn-danger" (click)="Agregar()">Alquilar</button>
        </div>
      </div>


      <div class="tarjetas">
        <img src="assets/img/ford-explorer.jpg" alt="vehiculo1">
        <h4>Ford Explorer</h4>
        <div class="tarjetas_descripcion">
          <P>Descripción de vehículo</P>
          <ul>
            <li>
              <div class="tarjetas_descripcion-iconos"><img src="assets/img/asiento.png"alt="icono-asiento"></div>
              <div class="tar_desc-asientos">
                5 Plazas
              </div>
            </li>
            <li>
              <div class="tarjetas_descripcion-iconos"><img src="assets/img/caja-de-cambios.png"alt="icono-asiento"></div>
              <div class="tar_desc-asientos">
                Automático
              </div>
            </li>
            <li class="li-kilometraje">
              <div class="tarjetas_descripcion-iconos"><img src="assets/img/rapido.png"alt="icono-asiento"></div>
              <div class="tar_desc-asientos">
                Kilometraje ilimitado
              </div>
            </li>
            <li></li>
          </ul>
        </div>
        <div class="tarjetas_precio">
          <div class="tarjetas_precio-div1">
            <h6>Precio por x dias:</h6>
            <p>$210.99</p>
          </div>
          <button type="button" class="btn btn-danger" (click)="Agregar()">Alquilar</button>
        </div>
      </div>


      <div class="tarjetas">
        <img src="assets/img/ford-ecosport-2.0L-XLT-4x2.jpg" alt="vehiculo1">
        <h4>Ford Ecosport 2.0L XLT 4x2</h4>
        <div class="tarjetas_descripcion">
          <P>Descripción de vehículo</P>
          <ul>
            <li>
              <div class="tarjetas_descripcion-iconos"><img src="assets/img/asiento.png"alt="icono-asiento"></div>
              <div class="tar_desc-asientos">
                6 Plazas
              </div>
            </li>
            <li>
              <div class="tarjetas_descripcion-iconos"><img src="assets/img/caja-de-cambios.png"alt="icono-asiento"></div>
              <div class="tar_desc-asientos">
                Manual
              </div>
            </li>
            <li class="li-kilometraje">
              <div class="tarjetas_descripcion-iconos"><img src="assets/img/rapido.png"alt="icono-asiento"></div>
              <div class="tar_desc-asientos">
                Kilometraje Limitado
              </div>
            </li>
            <li></li>
          </ul>
        </div>
        <div class="tarjetas_precio">
          <div class="tarjetas_precio-div1">
            <h6>Precio por x dias:</h6>
            <p>$180.30</p>
          </div>
          <button type="button" class="btn btn-danger" (click)="Agregar()">Alquilar</button>
        </div>
      </div>


      <div class="tarjetas">
        <img src="assets/img/Kia-gran-carnival.jpg" alt="vehiculo1">
        <h4>Kia Gran Carnival</h4>
        <div class="tarjetas_descripcion">
          <P>Descripción de vehículo</P>
          <ul>
            <li> 
              <div class="tarjetas_descripcion-iconos"><img src="assets/img/asiento.png"alt="icono-asiento"></div>
              <div class="tar_desc-asientos">
                8 Plazas
              </div>
            </li>
            <li>
              <div class="tarjetas_descripcion-iconos"><img src="assets/img/caja-de-cambios.png"alt="icono-cambio"></div>
              <div class="tar_desc-asientos">
                Automático
              </div>
            </li>
            <li class="li-kilometraje">
              <div class="tarjetas_descripcion-iconos"><img src="assets/img/rapido.png"alt="icono-kilometraje"></div>
              <div class="tar_desc-asientos">
                Kilometraje ilimitado
              </div>
            </li>
            <li></li>
          </ul>
        </div>
        <div class="tarjetas_precio">
          <div class="tarjetas_precio-div1">
            <h6>Precio por x dias:</h6>
            <p>$220.50</p>
          </div>
          <button type="button" class="btn btn-danger" (click)="Agregar()">Alquilar</button>
        </div>
      </div>


      <div class="tarjetas">
        <img src="assets/img/chevrolet-van-n300.jpg" alt="vehiculo1">
        <h4>Chevrolet Van N300</h4>
        <div class="tarjetas_descripcion">
          <P>Descripción de vehículo</P>
          <ul>
            <li>
              <div class="tarjetas_descripcion-iconos"><img src="assets/img/asiento.png"alt="icono-asiento"></div>
              <div class="tar_desc-asientos">
                7 Plazas
              </div>
            </li>
            <li>
              <div class="tarjetas_descripcion-iconos"><img src="assets/img/caja-de-cambios.png"alt="icono-asiento"></div>
              <div class="tar_desc-asientos">
                Manual
              </div>
            </li>
            <li class="li-kilometraje">
              <div class="tarjetas_descripcion-iconos"><img src="assets/img/rapido.png"alt="icono-asiento"></div>
              <div class="tar_desc-asientos">
                Kilometraje ilimitado
              </div>
            </li>
            <li></li>
          </ul>
        </div>
        <div class="tarjetas_precio">
          <div class="tarjetas_precio-div1">
            <h6>Precio por x dias:</h6>
            <p>150.00</p>
          </div>
          <button type="button" class="btn btn-danger"(click)="Agregar()">Alquilar</button>
        </div>
      </div>


      <div class="tarjetas">
        <img src="assets/img/volkswagen-golf-gti.png" alt="vehiculo1">
        <h4>Volkswagen Golf GTI</h4> 
        <div class="tarjetas_descripcion">
          <P>Descripción de vehículo</P>
          <ul>
            <li>
              <div class="tarjetas_descripcion-iconos"><img src="assets/img/asiento.png"alt="icono-asiento"></div>
              <div class="tar_desc-asientos">
                5 Plazas
              </div>
            </li>
            <li>
              <div class="tarjetas_descripcion-iconos"><img src="assets/img/caja-de-cambios.png"alt="icono-asiento"></div>
              <div class="tar_desc-asientos">
                Automático
              </div>
            </li>
            <li class="li-kilometraje">
              <div class="tarjetas_descripcion-iconos"><img src="assets/img/rapido.png"alt="icono-asiento"></div>
              <div class="tar_desc-asientos">
                Kilometraje ilimitado
              </div>
            </li>
            <li></li>
          </ul>
        </div>
        <div class="tarjetas_precio">
          <div class="tarjetas_precio-div1">
            <h6>Precio por x dias:</h6>
            <p>150.00</p>
          </div>
          <button type="button" class="btn btn-danger" (click)="Agregar()">Alquilar</button>
        </div>
      </div>
    
      <!--nuevos-->  
      <div class="tarjetas">
        <img src="assets/img/ford150blanca.jpg" alt="vehiculo9">
        <h4>Ford 150</h4>
        <div class="tarjetas_descripcion">
          <P>Descripción de vehículo</P>
          <ul>
            <li> 
              <div class="tarjetas_descripcion-iconos"><img src="assets/img/asiento.png"alt="icono-asiento"></div>
              <div class="tar_desc-asientos">
                5 Plazas
              </div>
            </li>
            <li>
              <div class="tarjetas_descripcion-iconos"><img src="assets/img/caja-de-cambios.png"alt="icono-cambio"></div>
              <div class="tar_desc-asientos">
                4x4-Automatico
              </div>
            </li>
            <li class="li-kilometraje">
              <div class="tarjetas_descripcion-iconos"><img src="assets/img/rapido.png"alt="icono-kilometraje"></div>
              <div class="tar_desc-asientos">
                Kilometraje ilimitado
              </div>
            </li>
            <li></li>
          </ul>
        </div>
        <div class="tarjetas_precio">
          <div class="tarjetas_precio-div1">
            <h6>Precio por x dias:</h6>
            <p>$129.99</p>
          </div>
          <button type="button" class="btn btn-danger" (click)="Agregar()">Alquilar</button>
        </div>
      </div>
      
      
      <div class="tarjetas">
        <img src="assets/img/sail.jpg" alt="vehiculo10">
        <h4>Chevrolet Sail</h4>
        <div class="tarjetas_descripcion">
          <P>Descripción de vehículo</P>
          <ul>
            <li> 
              <div class="tarjetas_descripcion-iconos"><img src="assets/img/asiento.png"alt="icono-asiento"></div>
              <div class="tar_desc-asientos">
                5 Plazas
              </div>
            </li>
            <li>
              <div class="tarjetas_descripcion-iconos"><img src="assets/img/caja-de-cambios.png"alt="icono-cambio"></div>
              <div class="tar_desc-asientos">
                Manual
              </div>
            </li>
            <li class="li-kilometraje">
              <div class="tarjetas_descripcion-iconos"><img src="assets/img/rapido.png"alt="icono-kilometraje"></div>
              <div class="tar_desc-asientos">
                Kilometraje ilimitado
              </div>
            </li>
            <li></li>
          </ul>
        </div>
        <div class="tarjetas_precio">
          <div class="tarjetas_precio-div1">
            <h6>Precio por x dias:</h6>
            <p>$50</p>
          </div>
          <button type="button" class="btn btn-danger" (click)="Agregar()">Alquilar</button>
        </div>
      </div>
      
      <div class="tarjetas">
        <img src="assets/img/beat.jpg" alt="vehiculo11">
        <h4>Chevrolet Beat</h4>
        <div class="tarjetas_descripcion">
          <P>Descripción de vehículo</P>
          <ul>
            <li> 
              <div class="tarjetas_descripcion-iconos"><img src="assets/img/asiento.png"alt="icono-asiento"></div>
              <div class="tar_desc-asientos">
                5 Plazas
              </div>
            </li>
            <li>
              <div class="tarjetas_descripcion-iconos"><img src="assets/img/caja-de-cambios.png"alt="icono-cambio"></div>
              <div class="tar_desc-asientos">
                Manual
              </div>
            </li>
            <li class="li-kilometraje">
              <div class="tarjetas_descripcion-iconos"><img src="assets/img/rapido.png"alt="icono-kilometraje"></div>
              <div class="tar_desc-asientos">
                Kilometraje ilimitado
              </div>
            </li>
            <li></li>
          </ul>
        </div>
        <div class="tarjetas_precio">
          <div class="tarjetas_precio-div1">
            <h6>Precio por x dias:</h6>
            <p>$60</p>
          </div>
          <button type="button" class="btn btn-danger" (click)="Agregar()">Alquilar</button>
        </div>
      </div>
      
      <div class="tarjetas">
        <img src="assets/img/camaro.jpg" alt="vehiculo12">
        <h4>Chevrolet Camaro</h4>
        <div class="tarjetas_descripcion">
          <P>Descripción de vehículo</P>
          <ul>
            <li> 
              <div class="tarjetas_descripcion-iconos"><img src="assets/img/asiento.png"alt="icono-asiento"></div>
              <div class="tar_desc-asientos">
                4 Plazas
              </div>
            </li>
            <li>
              <div class="tarjetas_descripcion-iconos"><img src="assets/img/caja-de-cambios.png"alt="icono-cambio"></div>
              <div class="tar_desc-asientos">
                Automático
              </div>
            </li>
            <li class="li-kilometraje">
              <div class="tarjetas_descripcion-iconos"><img src="assets/img/rapido.png"alt="icono-kilometraje"></div>
              <div class="tar_desc-asientos">
                Kilometraje ilimitado
              </div>
            </li>
            <li></li>
          </ul>
        </div>
        <div class="tarjetas_precio">
          <div class="tarjetas_precio-div1">
            <h6>Precio por x dias:</h6>
            <p>$299.99</p>
          </div>
          <button type="button" class="btn btn-danger" (click)="Agregar()">Alquilar</button>
        </div>
      </div>
      
      
      <div class="tarjetas">
        <img src="assets/img/luvdmx.jpg" alt="vehiculo13">
        <h4>Chevrolet Luv-Dmx 2021</h4>
        <div class="tarjetas_descripcion">
          <P>Descripción de vehículo</P>
          <ul>
            <li> 
              <div class="tarjetas_descripcion-iconos"><img src="assets/img/asiento.png"alt="icono-asiento"></div>
              <div class="tar_desc-asientos">
                5 Plazas
              </div>
            </li>
            <li>
              <div class="tarjetas_descripcion-iconos"><img src="assets/img/caja-de-cambios.png"alt="icono-cambio"></div>
              <div class="tar_desc-asientos">
                4x4-Automatico
              </div>
            </li>
            <li class="li-kilometraje">
              <div class="tarjetas_descripcion-iconos"><img src="assets/img/rapido.png"alt="icono-kilometraje"></div>
              <div class="tar_desc-asientos">
                Kilometraje ilimitado
              </div>
            </li>
            <li></li>
          </ul>
        </div>
        <div class="tarjetas_precio">
          <div class="tarjetas_precio-div1">
            <h6>Precio por x dias:</h6>
            <p>$119.99</p>
          </div>
          <button type="button" class="btn btn-danger" (click)="Agregar()">Alquilar</button>
        </div>
      </div>
      
      <div class="tarjetas">
        <img src="assets/img/onix.png" alt="vehiculo14">
        <h4>Chevrolet Onix</h4>
        <div class="tarjetas_descripcion">
          <P>Descripción de vehículo</P>
          <ul>
            <li> 
              <div class="tarjetas_descripcion-iconos"><img src="assets/img/asiento.png"alt="icono-asiento"></div>
              <div class="tar_desc-asientos">
                5 Plazas
              </div>
            </li>
            <li>
              <div class="tarjetas_descripcion-iconos"><img src="assets/img/caja-de-cambios.png"alt="icono-cambio"></div>
              <div class="tar_desc-asientos">
                Mecanico
              </div>
            </li>
            <li class="li-kilometraje">
              <div class="tarjetas_descripcion-iconos"><img src="assets/img/rapido.png"alt="icono-kilometraje"></div>
              <div class="tar_desc-asientos">
                Kilometraje ilimitado
              </div>
            </li>
            <li></li>
          </ul>
        </div>
        <div class="tarjetas_precio">
          <div class="tarjetas_precio-div1">
            <h6>Precio por x dias:</h6>
            <p>$84.99</p>
          </div>
          <button type="button" class="btn btn-danger" (click)="Agregar()">Alquilar</button>
        </div>
      </div>
    </div>
    </div>