

<div class="container">
<section class="banner">
    <div class="banner_contenido">
      <h1>NUESTROS VEHÍCULOS</h1>
      <div class="banner_logos">
        <a class="logoAutos" href="#">
          <img src="assets/img/LogoChevrolet.png" alt="logo-chevrolet">
          <img src="assets/img/logo-ford.png" alt="logo-chevrolet">
          <img src="assets/img/logo-wolkswagen.png" alt="logo-wolkswagen">
        </a>
      </div>
      <!--a class="banner_btn" href="">Catálogo</a-->
    </div>
  </section>

<div class="Principal">
    <h2>Nuestro <span class="spanH2">Catálogo</span></h2>
    <div class="contenedor_catalogo">


      <div id="1" class="tarjetas">
        <img src="assets/img/chevrolet1.jpg" alt="vehiculo1">
        <h4>Chevrolet Spark GT</h4>
        <div class="tarjetas_descripcion">
          <P>Descripción de vehículo</P>
          <ul>
            <li>
              <div class="tarjetas_descripcion-iconos"><img src="assets/img/asiento.png"alt="icono-asiento"></div>
              <div class="tar_desc-asientos">
                5 Plazas
              </div>
            </li>
            <li>
              <div class="tarjetas_descripcion-iconos"><img src="assets/img/caja-de-cambios.png"alt="icono-asiento"></div>
              <div class="tar_desc-asientos">
                Manual
              </div>
            </li>
            <li class="li-kilometraje">
              <div class="tarjetas_descripcion-iconos"><img src="assets/img/rapido.png"alt="icono-asiento"></div>
              <div class="tar_desc-asientos">
                Kilometraje ilimitado
              </div>
            </li>
            <li></li>
          </ul>
        </div>
        <div class="tarjetas_precio">
          <div class="tarjetas_precio-div1">
            <h6>Precio por x dias:</h6>
            <p>$124.30</p>
            <!--p (click)="open()">{{detalles}}</p-->
          </div>

          <!-- Scrollable modal
          mat-stroked-button
          mat-flat-button
           mat-raised-button
          type="button" class="btn btn-danger"
          ->
          <button id="1" mat-button (click)="Info()">Detalles</button-->
            <button mat-button class="hed" [matMenuTriggerFor]="add"> Detalles </button>
            <mat-menu class="detalle" #add="matMenu" yPosition="above">
              <div class="detalle">
              <!--button mat-button >Detalles</button-->
              <h3><b>Informacion de auto</b></h3>
              <p>Total de rentas al mes = 12</p>
              <p>Precio deducible = $300.00</p>
              <p>Total de ganancia = $2800.00</p>
              <p>Puesto actual : top 1</p>
              </div>
            </mat-menu>

          </div>

            <!--div class="btn-group">
              <--a class="btn btn-secondary dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Detalles
              </a->

              <button type="button" class="btn btn-danger dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-expanded="false">
                <span class="visually-hidden">Toggle Dropdown</span>
              </button>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">Action</a></li>
                <li><a class="dropdown-item" href="#">Another action</a></li>
                <li><a class="dropdown-item" href="#">Something else here</a></li>
              </ul>
            </div-->
      </div>


      <div  class="tarjetas">
        <img src="assets/img/ford-explorer.jpg" alt="vehiculo1">
        <h4>Ford Explorer</h4>
        <div class="tarjetas_descripcion">
          <P>Descripción de vehículo</P>
          <ul>
            <li>
              <div class="tarjetas_descripcion-iconos"><img src="assets/img/asiento.png"alt="icono-asiento"></div>
              <div class="tar_desc-asientos">
                5 Plazas
              </div>
            </li>
            <li>
              <div class="tarjetas_descripcion-iconos"><img src="assets/img/caja-de-cambios.png"alt="icono-asiento"></div>
              <div class="tar_desc-asientos">
                Automático
              </div>
            </li>
            <li class="li-kilometraje">
              <div class="tarjetas_descripcion-iconos"><img src="assets/img/rapido.png"alt="icono-asiento"></div>
              <div class="tar_desc-asientos">
                Kilometraje ilimitado
              </div>
            </li>
            <li></li>
          </ul>
        </div>
        <div class="tarjetas_precio">
          <div class="tarjetas_precio-div1">
            <h6>Precio por x dias:</h6>
            <p>$210.99</p>
          </div>
          <!--button id="1" mat-button (click)="Info()">Detalles</button-->
          <button mat-button class="hed" [matMenuTriggerFor]="ad"> Detalles </button>
            <mat-menu class="detalle" #ad="matMenu" yPosition="above">
              <div class="detalle">
              <!--button mat-button >Detalles</button-->
              <h3><b>Informacion de auto</b></h3>
              <p>Total de rentas al mes = 8</p>
              <p>Precio deducible = $400.00</p>
              <p>Total de ganancia = $2450.00</p>
              <p>Puesto actual : top 2</p>
              </div>
            </mat-menu>

        </div>
      </div>


      <div class="tarjetas">
        <img src="assets/img/ford-ecosport-2.0L-XLT-4x2.jpg" alt="vehiculo1">
        <h4>Ford Ecosport 2.0L XLT 4x2</h4>
        <div class="tarjetas_descripcion">
          <P>Descripción de vehículo</P>
          <ul>
            <li>
              <div class="tarjetas_descripcion-iconos"><img src="assets/img/asiento.png"alt="icono-asiento"></div>
              <div class="tar_desc-asientos">
                6 Plazas
              </div>
            </li>
            <li>
              <div class="tarjetas_descripcion-iconos"><img src="assets/img/caja-de-cambios.png"alt="icono-asiento"></div>
              <div class="tar_desc-asientos">
                Manual
              </div>
            </li>
            <li class="li-kilometraje">
              <div class="tarjetas_descripcion-iconos"><img src="assets/img/rapido.png"alt="icono-asiento"></div>
              <div class="tar_desc-asientos">
                Kilometraje Limitado
              </div>
            </li>
            <li></li>
          </ul>
        </div>
        <div class="tarjetas_precio">
          <div class="tarjetas_precio-div1">
            <h6>Precio por x dias:</h6>
            <p>$180.30</p>
          </div>
          <button mat-button class="hed" [matMenuTriggerFor]="uno"> Detalles </button>
            <mat-menu class="detalle" #uno="matMenu" yPosition="above">
              <div class="detalle">
              <!--button mat-button >Detalles</button-->
              <h3><b>Informacion de auto</b></h3>
              <p>Total de rentas al mes = 6</p>
              <p>Precio deducible = $300.00</p>
              <p>Total de ganancia = $2050.80</p>
              <p>Puesto actual : top 3</p>
              </div>
            </mat-menu>
        </div>
      </div>


      <div class="tarjetas">
        <img src="assets/img/Kia-gran-carnival.jpg" alt="vehiculo1">
        <h4>Kia Gran Carnival</h4>
        <div class="tarjetas_descripcion">
          <P>Descripción de vehículo</P>
          <ul>
            <li>
              <div class="tarjetas_descripcion-iconos"><img src="assets/img/asiento.png"alt="icono-asiento"></div>
              <div class="tar_desc-asientos">
                8 Plazas
              </div>
            </li>
            <li>
              <div class="tarjetas_descripcion-iconos"><img src="assets/img/caja-de-cambios.png"alt="icono-cambio"></div>
              <div class="tar_desc-asientos">
                Automático
              </div>
            </li>
            <li class="li-kilometraje">
              <div class="tarjetas_descripcion-iconos"><img src="assets/img/rapido.png"alt="icono-kilometraje"></div>
              <div class="tar_desc-asientos">
                Kilometraje ilimitado
              </div>
            </li>
            <li></li>
          </ul>
        </div>
        <div class="tarjetas_precio">
          <div class="tarjetas_precio-div1">
            <h6>Precio por x dias:</h6>
            <p>$220.50</p>
          </div>
          <button mat-button class="hed" [matMenuTriggerFor]="dos"> Detalles </button>
            <mat-menu class="detalle" #dos="matMenu" yPosition="above">
              <div class="detalle">
              <!--button mat-button >Detalles</button-->
              <h3><b>Informacion de auto</b></h3>
              <p>Total de rentas al mes = 6</p>
              <p>Precio deducible = $400.00</p>
              <p>Total de ganancia = $1780.00</p>
              <p>Puesto actual : top 4</p>
              </div>
            </mat-menu>
        </div>
      </div>


      <div class="tarjetas">
        <img src="assets/img/chevrolet-van-n300.jpg" alt="vehiculo1">
        <h4>Chevrolet Van N300</h4>
        <div class="tarjetas_descripcion">
          <P>Descripción de vehículo</P>
          <ul>
            <li>
              <div class="tarjetas_descripcion-iconos"><img src="assets/img/asiento.png"alt="icono-asiento"></div>
              <div class="tar_desc-asientos">
                7 Plazas
              </div>
            </li>
            <li>
              <div class="tarjetas_descripcion-iconos"><img src="assets/img/caja-de-cambios.png"alt="icono-asiento"></div>
              <div class="tar_desc-asientos">
                Manual
              </div>
            </li>
            <li class="li-kilometraje">
              <div class="tarjetas_descripcion-iconos"><img src="assets/img/rapido.png"alt="icono-asiento"></div>
              <div class="tar_desc-asientos">
                Kilometraje ilimitado
              </div>
            </li>
            <li></li>
          </ul>
        </div>
        <div class="tarjetas_precio">
          <div class="tarjetas_precio-div1">
            <h6>Precio por x dias:</h6>
            <p>150.00</p>
          </div>
          <button mat-button class="hed" [matMenuTriggerFor]="tres"> Detalles </button>
          <mat-menu class="detalle" #tres="matMenu" yPosition="above">
            <div class="detalle">
            <!--button mat-button >Detalles</button-->
            <h3><b>Informacion de auto</b></h3>
            <p>Total de rentas al mes = 5</p>
            <p>Precio deducible = $300.00</p>
            <p>Total de ganancia = $1350.00</p>
            <p>Puesto actual : top 5</p>
            </div>
          </mat-menu>
        </div>
      </div>


      <div class="tarjetas">
        <img src="assets/img/volkswagen-golf-gti.png" alt="vehiculo1">
        <h4>Volkswagen Golf GTI</h4>
        <div class="tarjetas_descripcion">
          <P>Descripción de vehículo</P>
          <ul>
            <li>
              <div class="tarjetas_descripcion-iconos"><img src="assets/img/asiento.png"alt="icono-asiento"></div>
              <div class="tar_desc-asientos">
                5 Plazas
              </div>
            </li>
            <li>
              <div class="tarjetas_descripcion-iconos"><img src="assets/img/caja-de-cambios.png"alt="icono-asiento"></div>
              <div class="tar_desc-asientos">
                Automático
              </div>
            </li>
            <li class="li-kilometraje">
              <div class="tarjetas_descripcion-iconos"><img src="assets/img/rapido.png"alt="icono-asiento"></div>
              <div class="tar_desc-asientos">
                Kilometraje ilimitado
              </div>
            </li>
            <li></li>
          </ul>
        </div>
        <div class="tarjetas_precio">
          <div class="tarjetas_precio-div1">
            <h6>Precio por x dias:</h6>
            <p>150.00</p>
          </div>
          <button mat-button class="hed" [matMenuTriggerFor]="cuatro"> Detalles </button>
          <mat-menu class="detalle" #cuatro="matMenu" yPosition="above">
            <div class="detalle">
            <!--button mat-button >Detalles</button-->
            <h3><b>Informacion de auto</b></h3>
            <p>Total de rentas al mes = 7</p>
            <p>Precio deducible = $400.00</p>
            <p>Total de ganancia = $2600.00</p>
            <p>Puesto actual : top 1</p>
            </div>
          </mat-menu>
        </div>
      </div>


<br>
<!--nuevos-->
<div class="tarjetas">
  <img src="assets/img/ford150blanca.jpg" alt="vehiculo9">
  <h4>Ford 150</h4>
  <div class="tarjetas_descripcion">
    <P>Descripción de vehículo</P>
    <ul>
      <li>
        <div class="tarjetas_descripcion-iconos"><img src="assets/img/asiento.png"alt="icono-asiento"></div>
        <div class="tar_desc-asientos">
          5 Plazas
        </div>
      </li>
      <li>
        <div class="tarjetas_descripcion-iconos"><img src="assets/img/caja-de-cambios.png"alt="icono-cambio"></div>
        <div class="tar_desc-asientos">
          4x4-Automatico
        </div>
      </li>
      <li class="li-kilometraje">
        <div class="tarjetas_descripcion-iconos"><img src="assets/img/rapido.png"alt="icono-kilometraje"></div>
        <div class="tar_desc-asientos">
          Kilometraje ilimitado
        </div>
      </li>
      <li></li>
    </ul>
  </div>
  <div class="tarjetas_precio">
    <div class="tarjetas_precio-div1">
      <h6>Precio por x dias:</h6>
      <p>$129.99</p>
    </div>
    <button mat-button class="hed" [matMenuTriggerFor]="cinco"> Detalles </button>
          <mat-menu class="detalle" #cinco="matMenu" yPosition="above">
            <div class="detalle">
            <!--button mat-button >Detalles</button-->
            <h3><b>Informacion de auto</b></h3>
            <p>Total de rentas al mes = 8</p>
            <p>Precio deducible = $500.00</p>
            <p>Total de ganancia = $2460.00</p>
            <p>Puesto actual : top 2</p>
            </div>
          </mat-menu>
  </div>
</div>


<div class="tarjetas">
  <img src="assets/img/sail.jpg" alt="vehiculo10">
  <h4>Chevrolet Sail</h4>
  <div class="tarjetas_descripcion">
    <P>Descripción de vehículo</P>
    <ul>
      <li>
        <div class="tarjetas_descripcion-iconos"><img src="assets/img/asiento.png"alt="icono-asiento"></div>
        <div class="tar_desc-asientos">
          5 Plazas
        </div>
      </li>
      <li>
        <div class="tarjetas_descripcion-iconos"><img src="assets/img/caja-de-cambios.png"alt="icono-cambio"></div>
        <div class="tar_desc-asientos">
          Manual
        </div>
      </li>
      <li class="li-kilometraje">
        <div class="tarjetas_descripcion-iconos"><img src="assets/img/rapido.png"alt="icono-kilometraje"></div>
        <div class="tar_desc-asientos">
          Kilometraje ilimitado
        </div>
      </li>
      <li></li>
    </ul>
  </div>
  <div class="tarjetas_precio">
    <div class="tarjetas_precio-div1">
      <h6>Precio por x dias:</h6>
      <p>$50</p>
    </div>
    <button mat-button class="hed" [matMenuTriggerFor]="seis"> Detalles </button>
          <mat-menu class="detalle" #seis="matMenu" yPosition="above">
            <div class="detalle">
            <!--button mat-button >Detalles</button-->
            <h3><b>Informacion de auto</b></h3>
            <p>Total de rentas al mes = 6</p>
            <p>Precio deducible = $450.00</p>
            <p>Total de ganancia = $1990.00</p>
            <p>Puesto actual : top 3</p>
            </div>
          </mat-menu>
  </div>
</div>

<div class="tarjetas">
  <img src="assets/img/beat.jpg" alt="vehiculo11">
  <h4>Chevrolet Beat</h4>
  <div class="tarjetas_descripcion">
    <P>Descripción de vehículo</P>
    <ul>
      <li>
        <div class="tarjetas_descripcion-iconos"><img src="assets/img/asiento.png"alt="icono-asiento"></div>
        <div class="tar_desc-asientos">
          5 Plazas
        </div>
      </li>
      <li>
        <div class="tarjetas_descripcion-iconos"><img src="assets/img/caja-de-cambios.png"alt="icono-cambio"></div>
        <div class="tar_desc-asientos">
          Manual
        </div>
      </li>
      <li class="li-kilometraje">
        <div class="tarjetas_descripcion-iconos"><img src="assets/img/rapido.png"alt="icono-kilometraje"></div>
        <div class="tar_desc-asientos">
          Kilometraje ilimitado
        </div>
      </li>
      <li></li>
    </ul>
  </div>
  <div class="tarjetas_precio">
    <div class="tarjetas_precio-div1">
      <h6>Precio por x dias:</h6>
      <p>$60</p>
    </div>
    <button mat-button class="hed" [matMenuTriggerFor]="siete"> Detalles </button>
          <mat-menu class="detalle" #siete="matMenu" yPosition="above">
            <div class="detalle">
            <!--button mat-button >Detalles</button-->
            <h3><b>Informacion de auto</b></h3>
            <p>Total de rentas al mes = 6</p>
            <p>Precio deducible = $480.00</p>
            <p>Total de ganancia = $1690.00</p>
            <p>Puesto actual : top 4</p>
            </div>
          </mat-menu>
  </div>
</div>

<div class="tarjetas">
  <img src="assets/img/camaro.jpg" alt="vehiculo12">
  <h4>Chevrolet Camaro</h4>
  <div class="tarjetas_descripcion">
    <P>Descripción de vehículo</P>
    <ul>
      <li>
        <div class="tarjetas_descripcion-iconos"><img src="assets/img/asiento.png"alt="icono-asiento"></div>
        <div class="tar_desc-asientos">
          4 Plazas
        </div>
      </li>
      <li>
        <div class="tarjetas_descripcion-iconos"><img src="assets/img/caja-de-cambios.png"alt="icono-cambio"></div>
        <div class="tar_desc-asientos">
          Automático
        </div>
      </li>
      <li class="li-kilometraje">
        <div class="tarjetas_descripcion-iconos"><img src="assets/img/rapido.png"alt="icono-kilometraje"></div>
        <div class="tar_desc-asientos">
          Kilometraje ilimitado
        </div>
      </li>
      <li></li>
    </ul>
  </div>
  <div class="tarjetas_precio">
    <div class="tarjetas_precio-div1">
      <h6>Precio por x dias:</h6>
      <p>$299.99</p>
    </div>
    <button mat-button class="hed" [matMenuTriggerFor]="ocho"> Detalles </button>
          <mat-menu class="detalle" #ocho="matMenu" yPosition="above">
            <div class="detalle">
            <!--button mat-button >Detalles</button-->
            <h3><b>Informacion de auto</b></h3>
            <p>Total de rentas al mes = 5</p>
            <p>Precio deducible = $350.00</p>
            <p>Total de ganancia = $1190.00</p>
            <p>Puesto actual : top 5</p>
            </div>
          </mat-menu>
  </div>
</div>


<div class="tarjetas">
  <img src="assets/img/luvdmx.jpg" alt="vehiculo13">
  <h4>Chevrolet Luv-Dmx 2021</h4>
  <div class="tarjetas_descripcion">
    <P>Descripción de vehículo</P>
    <ul>
      <li>
        <div class="tarjetas_descripcion-iconos"><img src="assets/img/asiento.png"alt="icono-asiento"></div>
        <div class="tar_desc-asientos">
          5 Plazas
        </div>
      </li>
      <li>
        <div class="tarjetas_descripcion-iconos"><img src="assets/img/caja-de-cambios.png"alt="icono-cambio"></div>
        <div class="tar_desc-asientos">
          4x4-Automatico
        </div>
      </li>
      <li class="li-kilometraje">
        <div class="tarjetas_descripcion-iconos"><img src="assets/img/rapido.png"alt="icono-kilometraje"></div>
        <div class="tar_desc-asientos">
          Kilometraje ilimitado
        </div>
      </li>
      <li></li>
    </ul>
  </div>
  <div class="tarjetas_precio">
    <div class="tarjetas_precio-div1">
      <h6>Precio por x dias:</h6>
      <p>$119.99</p>
    </div>
    <button mat-button class="hed" [matMenuTriggerFor]="nueve"> Detalles </button>
    <mat-menu class="detalle" #nueve="matMenu" yPosition="above">
      <div class="detalle">
      <!--button mat-button >Detalles</button-->
      <h3><b>Informacion de auto</b></h3>
      <p>Total de rentas al mes = 10</p>
      <p>Precio deducible = $520.00</p>
      <p>Total de ganancia = $2750.00</p>
      <p>Puesto actual : top 1</p>
      </div>
    </mat-menu>
  </div>
</div>

<div class="tarjetas">
  <img src="assets/img/onix.png" alt="vehiculo14">
  <h4>Chevrolet Onix</h4>
  <div class="tarjetas_descripcion">
    <P>Descripción de vehículo</P>
    <ul>
      <li>
        <div class="tarjetas_descripcion-iconos"><img src="assets/img/asiento.png"alt="icono-asiento"></div>
        <div class="tar_desc-asientos">
          5 Plazas
        </div>
      </li>
      <li>
        <div class="tarjetas_descripcion-iconos"><img src="assets/img/caja-de-cambios.png"alt="icono-cambio"></div>
        <div class="tar_desc-asientos">
          Mecanico
        </div>
      </li>
      <li class="li-kilometraje">
        <div class="tarjetas_descripcion-iconos"><img src="assets/img/rapido.png"alt="icono-kilometraje"></div>
        <div class="tar_desc-asientos">
          Kilometraje ilimitado
        </div>
      </li>
      <li></li>
    </ul>
  </div>
  <div class="tarjetas_precio">
    <div class="tarjetas_precio-div1">
      <h6>Precio por x dias:</h6>
      <p>$84.99</p>
    </div>
    <button mat-button class="hed" [matMenuTriggerFor]="nueve" > Detalles </button>
    <mat-menu class="detalle" #nueve="matMenu" yPosition="above">
      <div class="detalle">
      <!--button mat-button >Detalles</button-->
      <h3><b>Informacion de auto</b></h3>
      <p>Total de rentas al mes = 8</p>
      <p>Precio deducible = $390.00</p>
      <p>Total de ganancia = $2350.00</p>
      <p>Puesto actual : top 2</p>
      </div>
    </mat-menu>
  </div>
</div>
</div>

</div>
