.container{
  max-width: 1000px;
  margin: 0 auto;
}

table {
  width: 100%;
}
mat-form-field{
  font-size: 14px;
  width: 100%;
}
.hed{
  background-color: #285171;
  color:#fff;
}
.he{
  color:#285171;
}