.container{
  width: 80%;
  max-width: 1000px;
  margin: 0 auto;
}

table {
  width: 10%;
}
mat-form-field{
  font-size: 4%;
  width: 10%;
}
.hed{
  background-color: #285171;
  color:#fff;
}
.he{
  color:#285171;
}
ng-container{
  width: 20%;
}

@media screen and (max-with:300px) {
  .container{
    width: 100%;
  }
  table{
    width: 100%;
  }

  mat-form-field{
    font-size: 4%;
    width: 100%;
  }
}