<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
  
    <section class="banner">
        <div>
      
          <div class="contenedor llamada">
            <p>Elige lo mejor para ti</p>
            <h1>Bienvenido/a</h1>
            <a href="#">
              Haz una reserva y disfruta de tu auto!
            </a>
          </div>
        </div>
      </section>
</body>
</html>
