<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0">
</head>
<div class="container">

  <section class=" contenedor">
      <div class="banner llamada" style="background-image:url(assets/img/home-01.jpg);">
        <p>Elige lo mejor para ti</p>
        <h1>Bienvenido/a</h1>
        <a href="#">
          Haz una reserva y disfruta de tu auto!
        </a>
      </div>
    
  </section>
  
  
  <!-- TODO: Nosotros -->
  <section class="nosotros">
  <div class="porque">
    <h2>Nuestros Autos</h2>
  </div>
  <div class="contenedor">
    <div class="info">
      <img src="assets\img\carro1.jpg" alt="Chevrolet Aveo Emotion">
      <p>Chevrolet Aveo Emotion</p>
    </div>
    <div class="info">
      <img src="assets\img/carro2.png" alt="Chevrolet Sail">
      <p>Chevrolet Sail</p>
    </div>
    <div class="info">
      <img src="assets\img/carro2.jpg" alt="Chevrolet Aveo Family">
      <p>Chevrolet Aveo Family</p>
    </div>
  
    </div>
  
  </section>
  
  <section class="servicio">
    <hr class="separacion">
    <div class="contenedor">
      <div class="foto-flores">
        <img src="assets\img/servicio.jpg" alt="Espiritu de trabajo">
      </div>
      <div class="dato-servicio">
        <h2>Nuestro espíritu de Equipo</h2>
        <p>Contamos con más de 250 marcas y modelos de autos, camiones, vans y vehículos utilitarios deportivos usados de calidad para que elijas: todos a precios increíbles y con el respaldo de una de las mejores garantías de autos usados de la industria.        </p>
  
      </div>
    </div>
  
  </section>
  
  <section class="servicio">
    <hr class="separacion">
    <div class="contenedor">
      <div class="foto-flores">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d15948.057618905093!2d-79.8930646719407!3d-2.148171632251341!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x902d6dbf266d12ef%3A0x2a776d1e69594613!2sAeropuerto%20Internacional%20Jos%C3%A9%20Joaqu%C3%ADn%20de%20Olmedo!5e0!3m2!1ses!2sec!4v1657729539424!5m2!1ses!2sec" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>    </div>
      <div class="dato-servicio">
        <h2>Nuestra Ubicacion</h2>
        <p>Somos expertos en rentar carros en Guayaquil, con más de 20 años de servicio; nos encontramos frente al Aeropuerto Internacional José Joaquín de Olmedo Gye. Esta es una de las razones por la que nuestros precios de alquiler de autos son económicos en relación a las empresas de renta car en el aeropuerto.
        <br>
        La Renta de autos en Guayaquil puede ser una experiencia agradable para su bienestar personal, y económica para su bolsillo. El alquiler de vehiculos en Guayaquil con RentCar Evolution, te garantiza la seguridad de que cuando alquiles un auto la experiencia te hará regresar.        </p>
  
      </div>
    </div>
  
  </section>
  <section class="contenedor">
  <div class="banner2">
    <img src="assets/img/banner2.jpg">
    </div>
  </section>
<div>
  <br>
</div>

</div>